name: Node CI
permissions:
  contents: read

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        container_tag:
          # - "current"
          - "lts"
          - "22"
      fail-fast: false

    runs-on: ubuntu-latest
    container:
      image: "node:${{ matrix.container_tag }}"

    steps:
    - uses: actions/checkout@v6
    - name: Show node env
      run: |
        node -v
        npm -v
    - run: npm ci
    - run: npm run test
    - uses: actions/upload-artifact@v5
      with:
        name: "junit test reports node ${{ matrix.container_tag }}"
        path: junit

  cli_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: .tool-versions
    - run: npm ci
    - run: npm run build
    - run: npm run integrate_test
